$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-check: "\e906";
$icon-garbage: "\e900";
$icon-google-plus: "\e901";
$icon-visiblen: "\e902";
$icon-copy: "\e903";
$icon-edit: "\e904";
$icon-facebook: "\e905";

