/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #F2F0F0; 
$base-font-size: 16px; 
$base-line-height: 20px; 
$base-font-family: Arial, Helvetica, sans-serif;
$custom-font-family: sans-serif;
$link-color: #FF6639;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #2E2E2E;
$title-color:  #696868;
$title-font-family: $custom-font-family;

$font-size-h1: 14px;
$line-height-h1: 16px;
