<div>
  <h2 class="title"><%= t("privacy_policy") %></h2>

  <% if I18n.locale == :ru %>
    <p>Настоящим уведомляем вас, что сайт xPaste.pro предназначен для создания ссылок и обмена информацией в виде этих ссылок. Обмен происходит между вами и выбранными вами лицами. Сайт xPaste.pro не требует регистрации, не собирает и не хранит личные данные.</p>

    <p>Все данные, будь то код, ваши личные данные и/или личные данные третьих лиц, которые вы вводите в специальную форму на сайте: для создания ссылки и последующей передачи выбранному вами адресату и/или группе адресатов, — вы вводите на ваше усмотрение.</p>

    <p>Ссылки пересылаются любыми доступными средствами связи, предоставленными третьими лицами, как то: мессенджеры, электронная почта, корпоративные системы общения, — и выбираются эти средства связи также на ваше усмотрение.</p>

    <p>Также сайт xPaste.pro использует лог-файлы, сохраняет IP-адреса, данные о типе вашего браузера, интернет-провайдере, с какой страницы вы пришли, сведения о типе платформы, запоминает даты посещения и количество щелчков мышью — для анализа предпочтений и лучшего администрирования сайта. При этом IP-адреса не привязываются к личной информации.</p>

    <p>Также на сайте xPaste.pro используются такие инструменты, как Google Analytics и Cookies.</p>

    <p>Мы не продаем и не передаем третьим лицам данные, которые вы передаете посредством ссылок выбранным вами адресатам доступными вам средствами. Доступ к такой информации, однако, имеется у технических специалистов. Но мы можем выдать информацию по требованию правоохранительных органов и в соответствии с действующим законодательством.</p>

    <p>Информация, которую вы вводите в специальную форму на сайте xPaste.pro, хранится в виде ссылки в течение определенного вами срока и/или уничтожается после получения ее выбранным вами адресатом и/или группой адресатов.</p>

    <p>О сроках хранения ссылок написано в разделе <a href="https://xpaste.pro/help">Справка</a>.</p>

  <% else %>
    <p>We hereby inform you that xPaste.pro website is made for creating links and subsequent exchange of data packed in these links. The exchange can be performed between you and the parties you choose. xPaste.pro website doesn't require any registration, it neither collects nor keeps any personal data.</p>

    <p>Any data, whether it is code, your personal data and/or third party's personal data can be put into the special form on this website to be packed into a link and subsequently submitted to an addressee and/or a group of addressees. Type of data and an addressee and/or a group of addressees are chosen on your consideration.</p>

    <p>Links, you have created, can be submitted by any means available, and provided by any third party, including messengers, e-mail, corporate messengers. Such means can also be chosen by you on your consideration.</p>

    <p>Also, xPaste.pro website uses log files. This may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyze trends, administer the site. At the same time, IP addresses, etc. are not linked to personally identifiable information.</p>

    <p>Also, this website uses such tools as Google Analytics and Cookies.</p>

    <p>We neither sell nor submit to any third parties any data that you submit as links by any means available to an addressee and/or a group of addressees, you have chosen. However, our technical stuff has access to this data. Nevertheless, we can submit this data to law enforcement upon demand and according to law.</p>

    <p>Data that is put into the special form on this website can be kept as a link for a period you define and/or can be destroyed upon being received by an addressee and/or a group of addressees you have chosen.</p>

    <p>Details on the terms of keeping can be found in <a href="https://xpaste.pro/en/help">Help</a>.</p>
  <% end %>
</div>
