<% if @paste.auto_destroy? && params[:destroy].nil? %>
  <%= render partial: "auto_destroy" %>
<% else %>
  <div class="code_wrap">
    <%= render partial: "header" %>
    <%= render partial: "body" %>

    <% if @paste.auto_destroy? %>
      <div class="destroyed">
        <img src="/images/trash.svg">
        <%= t("pastes.show.paste_destroyed") %>
      </div>
    <% end %>
  </div>
<% end %>
