@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-Regular.eot');
	src: local('☺'), url('../fonts/IBMPlexSans-Regular.woff') format('woff'), url('../fonts/IBMPlexSans-Regular.ttf') format('truetype'), url('../fonts/IBMPlexSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
// @font-face {
// 	font-family: 'pt-mono';
// 	src: url('../fonts/pt-mono.regular.eot');
// 	src: local('☺'), url('../fonts/pt-mono.regular.woff') format('woff'), url('../fonts/pt-mono.regular.ttf') format('truetype'), url('../fonts/pt-mono.regular.svg') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-Bold.eot');
	src: local('☺'), url('../fonts/IBMPlexSans-Bold.woff') format('woff'), url('../fonts/IBMPlexSans-Bold.ttf') format('truetype'), url('../fonts/IBMPlexSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}