@font-face {
	font-family: 'IBMPlexSans';
	src: url('IBMPlexSans-Regular.eot');
	src: local('☺'), url('IBMPlexSans-Regular.woff') format('woff'), url('IBMPlexSans-Regular.ttf') format('truetype'), url('IBMPlexSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
// @font-face {
// 	font-family: 'pt-mono';
// 	src: url('pt-mono.regular.eot');
// 	src: local('☺'), url('pt-mono.regular.woff') format('woff'), url('pt-mono.regular.ttf') format('truetype'), url('pt-mono.regular.svg') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: 'IBMPlexSans';
	src: url('IBMPlexSans-Bold.eot');
	src: local('☺'), url('IBMPlexSans-Bold.woff') format('woff'), url('IBMPlexSans-Bold.ttf') format('truetype'), url('IBMPlexSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
