@use "../utils" as *;

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 42px 0 42px;
	margin: 0 auto;
	position: relative;
}
/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 0;
	font-weight: 400;
}
h2{
	font-style: normal;
	line-height: 28px;
	font-size: 24px;
	color: #000000;
	font-weight: 400;
}
p{
	font-weight: 400;
	line-height: 20px;
	font-size: 16px;
	color: #2E2E2E;
	padding: 10px 0 13px;
}

.link:hover{
	color: #fc997d;
}

.icon:before{
	color: inherit !important;
}
/* text position */


/* loader */
.loaded .main-wrapper{opacity: 0;}
.icon-load{background:url(loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}

// placeholder
// .form-control::-webkit-input-placeholder { color: #a7a7a7;opacity: 1}
// .form-control:-ms-input-placeholder { color: #a7a7a7;opacity: 1 }
// .form-control::-ms-input-placeholder { color: #a7a7a7;opacity: 1 }
// .form-control::placeholder { color: #a7a7a7;opacity: 1 }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

// -webkit-transform:translateZ(0);
		// -webkit-mask-image:-webkit-radial-gradient(circle, white, black);


		.content{
			min-width: $min-width;
			text-align:left;
			width: 100%;
			order: 2;
			-webkit-order: 2;
			flex-grow: 1;
			-webkit-flex-grow: 1;
			margin-top: 46px;
			position: relative;
			z-index: 5;
		}
		.box-btn{
			margin-top: 20px;
		}
		.button{
			display: inline-block;
			vertical-align: top;
			padding: 9px 30px 0 30px;
			height: 40px;
			min-width: 150px;
			border-radius: 4px;
			position: relative;
			font-size: 16px;
			line-height: 18px;
			font-weight: 700;
			color: #fff;
			border: none;
			background: #FF6639;
			transition: all 0.2s linear;
			text-align: center;
			&:hover{
				background: #fc997d;
			}
		}

		//button.button, input.button{ padding-top: 0 }
		.button_small{
			height:34px;
			padding: 7px 23px 0 23px;
			font-size: 14px;
			line-height: 16px;
		}

		.box-form{
			width: calc(100% - 317px);
		}
		.formats-form{

			&__name{


				input{
					border: none;
					font-size: 24px;
					line-height: 24px;
					width: 168px;
					min-width: 168px;
					max-width: 800px;
					height: 24px;
					border-radius: 4px;
					background: #fff;
					padding: 0 0 6px 0;

				}
			}
		}
		.formats-form__input::-webkit-input-placeholder { color: #2E2E2E;opacity: 1}
		.formats-form__input:-ms-input-placeholder { color: #2E2E2E;opacity: 1 }
		.formats-form__input::-ms-input-placeholder { color: #2E2E2E;opacity: 1 }
		.formats-form__input::placeholder { color: #2E2E2E;opacity: 1 }

		.box-formats{
			margin-top: 25px;
		}


		.formats-choice__list {
			margin-bottom: 0.5em;

			p {
				display: inline-block;
				font-style: normal;
				line-height: 0.5;
				font-size: 100%;
				vertical-align: bottom;
			}
		}

		.formats-choice{
			&__list{
				list-style-type: none;

			}
			&__item{
				display: inline-block;
				width: auto;
			}
		}


		.formats-choice__more{
			position: absolute;
			width: auto;
			left: -1000000px;
			top: 27px;
			padding: 7px;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 10;
			background: #fff;
			color: #FF6639;
			visibility: hidden;
			box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
			&.active{
				opacity: 1;
				left: auto;
				visibility: visible;
			}
			li{
				top: 0;
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 10px 10px 10px 8px;
			}
		}
		.more-title{
			padding-right: 14px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: 4px;
				top: 7px;
				width: 6px;
				height: 6px;
				border-bottom: 1px solid #FF6639;
				border-right: 1px solid #FF6639;
				transform: rotate(45deg);
				z-index: 1;
			}
		}
		.formats-choice__item_more{
			display: block;
			margin-top: 5px;
			padding-left: 0;
		}
		.formats-form__textarea{
			background: #fff;
			width: 100%;
			padding: 11px;
			border: none;
			resize:none;
			font-size: 16px;
			line-height: 21px;
			color: #2E2E2E;
			font-weight: 400;
			border-radius: 4px;
		}
		.hide-format{
			display: none;
		}
		.formats-form__textarea::-webkit-input-placeholder { color: #B8B8B8;opacity: 1}
		.formats-form__textarea:-ms-input-placeholder { color: #B8B8B8;opacity: 1 }
		.formats-form__textarea::-ms-input-placeholder { color: #B8B8B8;opacity: 1 }
		.formats-form__textarea::placeholder { color: #B8B8B8;opacity: 1 }


		.formats-create{
			display: flex;
			justify-content: space-between;
			margin-top: 9px;
			&__item{

				&:first-child{
					display: flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
			&__remove{
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				line-height: 21px;
				color: #2e2e2e;
				font-weight: 400;
				cursor: pointer;
				transition: color 0.2s;
				+ .formats-create__remove{
					margin-left: 26px;
				}
				@media screen and (min-width: 1025px){
					&:hover{
						color: #FF6639;
					}
				}

			}
			&__days{
				width: 45px;
				height: 30px;
				border: none;
				border-radius: 4px;
				background: #fff;
				padding: 4px 8px 5px 8px;
				font-size: 16px;
				line-height: 21px;
				font-weight: 400;
				margin-left: 4px;
				margin-right: 4px;
			}
		}
		label{
			cursor: pointer;
		}
		.formats-create__check{
			position: absolute;
			left: -100000%;
		}
		.label-text{
			padding-left: 25px;
			padding-top: 0px;
			padding-bottom: 5px;
			position: relative;
			cursor: pointer;
			&:before{
				content: '	';
				position: absolute;
				width: 18px;
				height: 18px;
				border-radius: 4px;
				background: #fff;
				border: none;
				left: 0;
				top: 1px;
				z-index: 2;
			}
			&:hover{
				// color: red;
			}
		}
		input[type="checkbox"]:checked{
			+ .label-text{
				&:before{
					border-color: green;
				}
				&:after{
					content: '';
					position: absolute;
					width: 25px;
					height: 8px;
					border-left: 	2px solid #FF6639;
					border-bottom: 	2px solid #FF6639;
					left: 1px;
					top: 1px;
					transform: rotate(-52deg);
					z-index: 2;
				}
			}
		}
		.box-scroll{
			height: 100%;
			padding: 40px 0 15px;
		}
		.cont-instruction{
			position: fixed;
			right: 0;
			// top: -87px;
			top: 0;
			height: 100%;
			min-width: 	308px;
			background: #fff;
			z-index: 999;
		}
		.box-instruction{
			// position: fixed;
			// top: 0px;
			// width: 308px;
			width: 100%;
			// max-width: 308px;
			background: #fff;
			height: 100%;
			opacity: 1;
			transition: opacity 0.4s;
			box-shadow: -2px 2px 5px rgba(228, 228, 228, 0.8);
			&__close{
				position: absolute;
				top: 10px;
				right: 15px;
				font-size: 14px;
				text-align: right;
				line-height: 18px;
				&:hover{
					color: #fc997d;
				}
			}

		}
		.instruction{
			padding: 0 15px 0;
			max-width: 308px;
			width: 100%;
			h2{
				padding-top: 7px;
				padding-bottom: 11px;
			}
		}
		body.hide-instruction{
			.cont-instruction{
				opacity: 0;
				left: -1000000%;

			}
			.box-instruction{
				opacity: 0;
				left: -100000%;
				right: auto;
			}
			.box-form{
				width: 100%;
			}
		}
		.mCSB_scrollTools{
			width: 6px;
		}
		.mCSB_scrollTools .mCSB_dragger{
			height: 52px !important;
			width: 4px !important;
			border-radius: 4px;

			opacity: 1 !important;
		}
		.mCSB_dragger_bar{
			background: #D8D8D8 !important;
		}
		.mCSB_scrollTools .mCSB_draggerRail{
			background: none;
		}
		.mCSB_inside > .mCSB_container{
			margin-right: 0;
		}
		h2{
			.icon{
				color: #000;
				font-size: 22px;
				line-height: inherit;
				position: relative;
				top: 2px;
			}
		}
		.instruction__item{
			margin-bottom: 18px;
			padding-right: 25px;
		}
		.instruction__step{
			font-weight: 400;
			line-height: 21px;
			font-size: 16px;
			color: #2E2E2E;
			padding-top: 2px;
			padding-left: 25px;
			position: relative;
			span{
				position: absolute;
				display: block;
				left: 0;
				top: 3px;
				width: 18px;
				height: 18px;
				border: 1px solid #FF6639;
				border-radius: 50%;
				text-align: center;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
				font-size: 16px;
				color: #FF6639;
				&.icon{
					&:before{
						position: absolute;
						left: 4px;
						top: -4px;
					}
				}
			}
		}



		.content_registration{
			margin-top: 43px;
		}
		.title{
			font-weight: 400;
			line-height: 27px;
			font-size: 24px;
			color: #000000;
			a{
				position: relative;
				line-height: inherit;
				display: inline-block;
				&:before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-image: url(border-dashed.png);
					background-repeat: repeat-x;
				}
			}
		}
		.subtitle{
			font-weight: 400;
			line-height: 18px;
			font-size: 14px;
			color: #2E2E2E;
			padding-top: 7px;
		}

		.box-form_reg{
			padding-top: 25px;
		}
		.box-field{
			padding-bottom: 9px;
			&__label{
				font-weight: 400;
				line-height: 21px;
				font-size: 16px;
				color: #2E2E2E;
				padding-bottom: 4px;
				display: inline-block;
			}
			&__input{
				width: 100%;
				max-width: 300px;
			}
			&_btn{
				padding-top:4px;
			}
		}

		.form-control{
			background: #FFFFFF;
			border: 1px solid #DFDFDF;
			border-radius: 4px;
			width: 100%;
			height: 40px;
			padding: 5px 10px;
			    line-height: 21px;
    font-size: 16px;
		}
		.button_submit{

		}
		.form-descr{
			max-width: 380px;
			font-size: 14px;
			line-height: 18px;
			color: #2E2E2E;
		}
		.soc-reg{
			padding-top: 30px;
			&__title{
				font-weight: 400;
				line-height: 20px;
				font-size: 16px;
				color: #2E2E2E;
			}
			&__buttons{
				padding-top: 9px;
			}
		}
		.button_soc{
			width: 214px;
			background-color: transparent;
			border: 1px solid #FF6639;
			color: #FF6639;
			font-size: 16px;
			line-height: 18px;
			font-weight: 400;
			text-align: left;
			padding-top: 10px;
			padding-left: 14px;
			padding-right: 10px;
			margin-right: 6px;
			.icon{
				z-index: 1;
				font-size: 22px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 6px;
				position: relative;
				top: -2px;
			}
			&:hover{
				background: #FF6639;
				color: #fff;
			}
		}
/*datepicker*/

.ui-widget-header .ui-icon {
    background-image: url(datepicker/ui-icons_444444_256x240.png);
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	background: #fc997d;
	color: #000;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background: #FF6639;
}
/*datepicker*/





		@media screen and (max-width: 1200px) {
.formats-form__name input{
	max-width: 625px;
}
		}
		@media screen and (max-width: 1020px) {
			.wrapper{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		@media screen and (min-width: 992px){

		}

		@media screen and (max-width: 991px) {
			.formats-choice__item6{
				display: none;
			}
			.formats-choice__more {
				.formats-choice__item6{
					display: block;
				}
			}
			.formats-create__item:first-child{
				display: block;
			}
			.formats-create__remove{
				display: block;
			}
			.formats-create__remove + .formats-create__remove{
				margin-left: 0;
				margin-top: 20px;
			}
		}
		@media screen and (max-width: 850px) {
			.formats-choice__item5{
				display: none;
			}
			.formats-choice__more {
				.formats-choice__item5{
					display: block;
				}
			}
		}

		@media screen and (min-width: 768px) and (max-width: 991px) {

		}

		@media screen and (max-width: 767px) {
			.wrapper{
				padding: 0 10px;
			}


			.hide-instruction{
				.cont-instruction{
					display: none;
				}
			}
			.cont-instruction{
				position: absolute;
				top: 0;
				right: 0;
				width: 100% !important;
				left: 0;
			}
			.box-instruction{
				position: relative;
				width: calc(100% + 20px);
				max-width: 100%;
				left: -10px;
				height: auto !important;
				right: 0;
				top: 0;
				margin-top: 40px;
			}
			.instruction{
				max-width: 100%;
			}
			.box-form{
				width: 100%;
			}
			.instruction__item{
				// text-align: center;
			}
			.formats-create{
				display: block;
			}
			.btn-box{
				margin-top: 24px;
			}
			.button{
				width: 100%;
			}
			.instruction__step span{
				position: relative;
				display: inline-block;
				vertical-align: top;
				top: 1px;
				margin-right: 5px;
			}
			.instruction__step{
				padding-left: 0;
			}
			.content{
				margin-top: 40px;
			}
			.formats-form__textarea{
				padding-top: 25px;
			}
			.formats-create{
				margin-top: 17px;
			}
			.box-scroll{
				padding-top: 31px;
				padding-bottom: 25px;
			}
			.instruction__item{
				padding-right: 	0;
			}
			p{
				line-height: 21px;
			}
			.instruction__img{
				padding-top: 9px;
			}
			.instruction__step{
				padding-top: 0;
			}
			.instruction__item{
				margin-bottom: 14px;
			}
			.title{
				line-height: 30px;
			}
			.content_registration{
				margin-top: 37px;
			}
			.box-form_reg {
				padding-top: 29px;
			}
			.box-field_btn {
				padding-top: 6px;
			}
			.soc-reg__title{
				text-align: center;
			}
			.soc-reg__title span{
				display: none;
			}
			.soc-reg__buttons{
				text-align: center;
			}
			.button_soc{
				width: 220px;
				margin-bottom: 20px;
			}
			body.hide-instruction{
				right: 6px;
			}
		}


		@media screen and (max-width: 665px){
			.formats-choice__item4{
				display: none;
			}
			.formats-choice__more {
				.formats-choice__item4{
					display: block;
				}
			}
			.formats-choice__item3{
				display: none;
			}
			.formats-choice__more {
				.formats-choice__item3{
					display: block;
				}
			}
		}
		@media screen and (max-width: 370px){
			.instruction__item{
				text-align: left;
			}
			.instruction h2{
				padding-bottom: 15px;
			}
			.box-formats {
				margin-top: 18px;
			}

		}
// haks
// ие11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.content{
		height: 82vh;
	}
}

// edge
@supports (-ms-ime-align:auto) and (not (-ms-accelerator:true)) {
	.formats-create__days{
		width: 46px;
	}
}
// ФФ
@-moz-document url-prefix(){}
// сафари
body:last-child:not(:root:root) .class{    opacity: 0;}







/*scroll-top*/
// .scroll-top{
// 	position: fixed;
// 	right: 50px;
// 	bottom: 50px;
// 	width: 30px;
// 	height: 30px;
// 	border-left: 3px solid #000;
// 	border-top: 3px solid #000;
// 	transform: rotate(45deg);
// }
/*scroll-top*/
