<header class="header header-inverse overflow-hidden orange-header">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h1>Внутренняя ошибка сервера</h1>
        <p class="fs-20 opacity-80">
          Упс, случилось что-то непредвиденное.
        </p>
      </div>
    </div>
  </div>
</header>
